In [1]:
import pandas as pd

df_1 = pd.read_csv('data/data-preprocess/data-1.csv', encoding='cp949')
df_2 = pd.read_csv('data/data-preprocess/data-2.csv', encoding='cp949')
df_3 = pd.read_csv('data/data-preprocess/data-3.csv', encoding='cp949')
df_4 = pd.read_csv('data/data-preprocess/data-4.csv', encoding='cp949')
df_5 = pd.read_csv('data/data-preprocess/data-5.csv', encoding='cp949')
df_6 = pd.read_csv('data/data-preprocess/data-6.csv', encoding='cp949')
df_7 = pd.read_csv('data/data-preprocess/data-7.csv', encoding='cp949')

In [7]:
# 3개로 나눠져있는 데이터 합쳐주기
df_a = pd.concat([df_1,df_2,df_3])

# 대소문자 구분 없애기
df_a.loc[:, '감정'] = df_a['감정'].str.lower()

# 중립 감정은 제거해주기
df_a = df_a[df_a['감정'] != 'neutral']

df_a_copy = df_a.copy()

# 분노 -> 0, 슬픔 -> 1, 불안 -> 2, 행복 -> 3
df_a_copy.loc[(df_a_copy['감정'] == "angry"), '감정'] = 0
df_a_copy.loc[(df_a_copy['감정'] == "disgust"), '감정'] = 0
df_a_copy.loc[(df_a_copy['감정'] == "sadness"), '감정'] = 1
df_a_copy.loc[(df_a_copy['감정'] == "fear"), '감정'] = 2
df_a_copy.loc[(df_a_copy['감정'] == "surprise"), '감정'] = 2
df_a_copy.loc[(df_a_copy['감정'] == "happiness"), '감정'] = 3

df_a.loc[:, '감정'] = df_a_copy['감정']
df_a.reset_index(drop=True, inplace=True)

# 데이터 확인
df_a

                                 문장 감정
0                    둘 다 하기 싫어서 화내.  0
1                       그럼 방세는 어떡해.  1
2         권태긴줄 알았는데 다른 사람이 생겼나보더라고.  1
3      어. 고등학교 동창인데 이렇게 더럽게 쓸줄 몰랐어.  0
4                          오늘 헤어졌어.  1
...                             ... ..
32028   맞아. 나한테만 퉁명스럽고 일을 많이 시키더라고.  1
32029                 나 엘리베이터에 갇혔어.  3
32030             하지만 기분이 나쁜 걸 어떡해?  1
32031             자취방 엘리베이턴데 정전인가봐.  1
32032               나 드디어 프로젝트 끝났어!  0

[32033 rows x 2 columns]

In [9]:
df_b = pd.concat([df_4,df_5,df_6,df_7])

# 중립 감정은 제거해주기
df_b = df_b[df_b['감정'] != '중립']

df_b_copy = df_b.copy()

# 분노 -> 0, 슬픔 -> 1, 불안 -> 2, 행복 -> 3
df_b_copy.loc[(df_b_copy['감정'] == "분노"), '감정'] = 0
df_b_copy.loc[(df_b_copy['감정'] == "혐오"), '감정'] = 0

df_b_copy.loc[(df_b_copy['감정'] == "슬픔"), '감정'] = 1
df_b_copy.loc[(df_b_copy['감정'] == "상처"), '감정'] = 1

df_b_copy.loc[(df_b_copy['감정'] == "공포"), '감정'] = 2
df_b_copy.loc[(df_b_copy['감정'] == "놀람"), '감정'] = 2
df_b_copy.loc[(df_b_copy['감정'] == "불안"), '감정'] = 2
df_b_copy.loc[(df_b_copy['감정'] == "당황"), '감정'] = 2

df_b_copy.loc[(df_b_copy['감정'] == "행복"), '감정'] = 3
df_b_copy.loc[(df_b_copy['감정'] == "기쁨"), '감정'] = 3

df_b.loc[:, '감정'] = df_b_copy['감정']
df_b.reset_index(drop=True, inplace=True)

# 데이터 확인
df_b

                                                       문장 감정
0                    아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!  0
1            그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.  0
2                                          그걸 내가 어떻게 알아요!  0
3                                    동사무소에서 인구조사 나왔니? 지금.  0
4                                         나? ... 나보고 하라고?  2
...                                                   ... ..
103844  나랑 비슷한 시기에 결혼하는 친구는 시댁에서 집을 해줘서 너무 부러워. 우리는 대출...  2
103845    친구 한 명이 결혼해서 아이를 가졌는데 너무 행복해 보이더라. 기분이 좋지만은 않아.  2
103846      남들은 결혼 전에 일억을 모았다는데 난 뭐를 한 것인지 모르겠어. 자괴감만 드네.  2
103847  나보다 결혼을 먼저 한 친구가 부러워. 그 친구 남편은 직장도 내 남편보다 좋고 키...  2
103848                        친구들 모두 결혼하고 나만 혼자 남아서 쓸쓸하네.  2

[103849 rows x 2 columns]

In [10]:
# 전체 데이터 합치기
df = pd.concat([df_a,df_b])
df

                                                       문장 감정
0                                          둘 다 하기 싫어서 화내.  0
1                                             그럼 방세는 어떡해.  1
2                               권태긴줄 알았는데 다른 사람이 생겼나보더라고.  1
3                            어. 고등학교 동창인데 이렇게 더럽게 쓸줄 몰랐어.  0
4                                                오늘 헤어졌어.  1
...                                                   ... ..
103844  나랑 비슷한 시기에 결혼하는 친구는 시댁에서 집을 해줘서 너무 부러워. 우리는 대출...  2
103845    친구 한 명이 결혼해서 아이를 가졌는데 너무 행복해 보이더라. 기분이 좋지만은 않아.  2
103846      남들은 결혼 전에 일억을 모았다는데 난 뭐를 한 것인지 모르겠어. 자괴감만 드네.  2
103847  나보다 결혼을 먼저 한 친구가 부러워. 그 친구 남편은 직장도 내 남편보다 좋고 키...  2
103848                        친구들 모두 결혼하고 나만 혼자 남아서 쓸쓸하네.  2

[135882 rows x 2 columns]

In [14]:
import numpy as np

# 가장 적은 클래스의 개수 구하기
class_counts = df['감정'].value_counts()
min_class_count = class_counts.min()

# 랜덤 시드 고정
np.random.seed(42)

# 각 클래스에서 랜덤으로 샘플 추출
sampled_data = []
for emotion_class in class_counts.index:
    class_data = df[df['감정'] == emotion_class]
    sampled_data.append(class_data.sample(min_class_count))

# 새로운 데이터프레임 생성
balanced_df = pd.concat(sampled_data)
balanced_df.reset_index(drop=True, inplace=True)

# 결과 확인
print(balanced_df)

                                                      문장 감정
0      나이가 더 들기 전에 일해야 하는데 일자리를 찾기가 힘들어. 그래서 부양 부담도 더...  2
1                                           비가 너무 많이 와서.  2
2                  친구들은 다 좋은 직장에 다니는데 나만 뒤처지는 것 같아서 비참해.  2
3                                        개리 선견지명 지렸다....  2
4                                               진짜 무서웠어.  2
...                                                  ... ..
71655                      지금까지 힘들게 살아온 날들이 너무 감사하게 느껴져.  3
71656                               나는 아이를 세 명 이상 낳을 거야.  3
71657           드디어 취업에 성공했어. 이번에도 못 하면 어쩌나 했는데 정말 다행이야.  3
71658                            좋은 생각이야. 에피타이저가 가장 맛있지.  3
71659                  뛰는 동안 힘들었지만 결승선을 통과하는 순간 싹 잊혀지더라.  3

[71660 rows x 2 columns]

In [16]:
class_counts = balanced_df['감정'].value_counts()
class_counts

감정
2    17915
1    17915
0    17915
3    17915
Name: count, dtype: int64

In [18]:
balanced_df.to_csv("data_main.csv", index=False)

# -------------------------여기까지----------------------------------

In [ ]:
# 중립 감정은 제거해주기
df_5 = df_4[df_4['감정'] != '중립']

df_4_copy = df_4.copy()

# 분노 -> 0, 슬픔 -> 1, 불안 -> 2, 행복 -> 3
df_4_copy.loc[(df_4_copy['감정'] == "분노"), '감정'] = 0
df_4_copy.loc[(df_4_copy['감정'] == "혐오"), '감정'] = 0
df_4_copy.loc[(df_4_copy['감정'] == "슬픔"), '감정'] = 1
df_4_copy.loc[(df_4_copy['감정'] == "공포"), '감정'] = 2
df_4_copy.loc[(df_4_copy['감정'] == "놀람"), '감정'] = 2
df_4_copy.loc[(df_4_copy['감정'] == "행복"), '감정'] = 3

df_4.loc[:, '감정'] = df_4_copy['감정']
df_4.reset_index(drop=True, inplace=True)

# 데이터 확인
df_4

In [7]:
import pandas as pd

dfa = pd.read_csv('data/data-preprocess/data-5.csv', encoding='cp949') # 분노 & 슬픔

# 분노 & 슬픔
df_1 = dfa[dfa['감정'] == '분노']
df_2 = dfa[dfa['감정'] == '슬픔']
df_3 = dfa[dfa['감정'] == '공포']

df_A = pd.concat([df_1,df_2,df_3])
df_A.reset_index(drop=True, inplace=True)
df_A # 분노 & 슬픔

                                  문장  감정
0        서해 수자원도 한류라서 그동안 불법조업 방치했나?  분노
1                           니가 인간이가.  분노
2          강아지를 때리고 유기하는것만 학대는 아닙니다!  분노
3              하여간 우리나라 교육엔 미래가 없어!!  분노
4           채널에이 군부 개인거 인증하냐 동아일보야!!  분노
...                              ...  ..
16395  진짜 이러면 안되는거 아는데애기 아빠가 연락이 안되요  공포
16396               이게 평생갈까봐 고민이네요;0  공포
16397                 안그러는게 정상 맞죠??0  공포
16398       다른 고무신들은 헤어지고 연락이 오나요?..  공포
16399       언니 동생으로 부르는게 맞는 일인가요..??  공포

[16400 rows x 2 columns]

In [28]:
dfb_1 = pd.read_csv('data/data-preprocess/data-6.csv', encoding='cp949')
dfb_2 = pd.read_csv('data/data-preprocess/data-7.csv', encoding='cp949')
dfb = pd.concat([dfb_1,dfb_2])

df_B = dfb[dfb['감정'] == '불안'] # 불안

df_B.reset_index(drop=True, inplace=True)
df_B

In [25]:
dfc_1 = pd.read_csv('data/data-preprocess/data-1.csv', encoding='cp949')
dfc_2 = pd.read_csv('data/data-preprocess/data-2.csv', encoding='cp949')
dfc_3 = pd.read_csv('data/data-preprocess/data-3.csv', encoding='cp949')
dfc_4 = pd.read_csv('data/data-preprocess/data-4.csv', encoding='cp949')

dfc = pd.concat([dfc_1,dfc_2,dfc_3])

dfc.loc[:, '감정'] = dfc['감정'].str.lower()
dfC_1 = dfc[dfc['감정'] == 'happiness']

dfC_2 = dfc_4[dfc_4['감정'] == '행복']

df_C = pd.concat([dfC_1,dfC_2])
df_C['감정'] = df_C['감정'].replace('happiness', '행복')
df_C.reset_index(drop=True, inplace=True)
df_C

                                                     문장  감정
0       친구로 지내다가 3년 전부터 연애 감정이 생기기 시작하더라? 그때부터 연인이 된거지.  행복
1                             고마워. 다행히 다치진 않아서 정말 다행이야.  행복
2                              그래, 고맙다. 많이 위로가 됐어. 고마워!  행복
3                         함께 일하는 동료가 마음이 잘 맞아. 정말 다행이지?  행복
4                           먼저 얘기 해달라고 말해줘서 고마워. 힘이 된다.  행복
...                                                 ...  ..
4534                                  봐봐, 이거 너무 복실복실하지?  행복
4535  하긴 남자애니까. 별로 관심 없으려나? 그래도 여기 남성 의류 말야, 평판이 꽤 좋...  행복
4536                  이럴 땐 진짜 질색하는 표정이 된다니깐. 감탄스럽기까지 해.  행복
4537  너무 대놓고 그러면 역효과잖니? 난 지금 이대로면 충분한걸. ……하긴, 옛날엔 페어...  행복
4538       고맙긴요. 제가 할 수 있는 건 이 정도가 전부인걸요. 선배님, 부디 힘내세요.  행복

[4539 rows x 2 columns]

In [26]:
DF = pd.concat([df_A,df_C])
DF

                                                     문장  감정
0                           서해 수자원도 한류라서 그동안 불법조업 방치했나?  분노
1                                              니가 인간이가.  분노
2                             강아지를 때리고 유기하는것만 학대는 아닙니다!  분노
3                                 하여간 우리나라 교육엔 미래가 없어!!  분노
4                              채널에이 군부 개인거 인증하냐 동아일보야!!  분노
...                                                 ...  ..
4534                                  봐봐, 이거 너무 복실복실하지?  행복
4535  하긴 남자애니까. 별로 관심 없으려나? 그래도 여기 남성 의류 말야, 평판이 꽤 좋...  행복
4536                  이럴 땐 진짜 질색하는 표정이 된다니깐. 감탄스럽기까지 해.  행복
4537  너무 대놓고 그러면 역효과잖니? 난 지금 이대로면 충분한걸. ……하긴, 옛날엔 페어...  행복
4538       고맙긴요. 제가 할 수 있는 건 이 정도가 전부인걸요. 선배님, 부디 힘내세요.  행복

[20939 rows x 2 columns]

In [20]:
DF

NameError: name 'DF' is not defined

In [5]:
import pandas as pd
df1 = pd.read_csv('data/data-preprocess/data-1.csv', encoding='cp949')
df2 = pd.read_csv('data/data-preprocess/data-2.csv', encoding='cp949')
df3 = pd.read_csv('data/data-preprocess/data-3.csv', encoding='cp949')
df = df = pd.concat([df1,df2,df3])

df.loc[:, '감정'] = df['감정'].str.lower()
df = df[df['감정'] != 'neutral']

df_copy = df.copy()

df_copy.loc[(df_copy['감정'] == "angry"), '감정'] = 0
df_copy.loc[(df_copy['감정'] == "disgust"), '감정'] = 0
df_copy.loc[(df_copy['감정'] == "sadness"), '감정'] = 1
df_copy.loc[(df_copy['감정'] == "fear"), '감정'] = 2
df_copy.loc[(df_copy['감정'] == "surprise"), '감정'] = 2
df_copy.loc[(df_copy['감정'] == "happiness"), '감정'] = 3

df.loc[:, '감정'] = df_copy['감정']
df.reset_index(drop=True, inplace=True)
df.to_csv('데이터.csv', index=False)

In [19]:
df

                                 문장 감정
0                    둘 다 하기 싫어서 화내.  0
1                       그럼 방세는 어떡해.  1
2         권태긴줄 알았는데 다른 사람이 생겼나보더라고.  1
3      어. 고등학교 동창인데 이렇게 더럽게 쓸줄 몰랐어.  0
4                          오늘 헤어졌어.  1
...                             ... ..
32028   맞아. 나한테만 퉁명스럽고 일을 많이 시키더라고.  1
32029                 나 엘리베이터에 갇혔어.  3
32030             하지만 기분이 나쁜 걸 어떡해?  1
32031             자취방 엘리베이턴데 정전인가봐.  1
32032               나 드디어 프로젝트 끝났어!  0

[32033 rows x 2 columns]

In [9]:
df4 = pd.read_csv('data/data-preprocess/data-4.csv', encoding='cp949')
df5 = pd.read_csv('data/data-preprocess/data-5.csv', encoding='cp949')

df4 = df4[df4['감정'] != '중립']
df5 = df5[df5['감정'] != '중립']

In [16]:
df4_copy = df4.copy()

df4_copy.loc[(df4_copy['감정'] == "혐오"), '감정'] = 0
df4_copy.loc[(df4_copy['감정'] == "분노"), '감정'] = 0
df4_copy.loc[(df4_copy['감정'] == "슬픔"), '감정'] = 1
df4_copy.loc[(df4_copy['감정'] == "공포"), '감정'] = 2
df4_copy.loc[(df4_copy['감정'] == "놀람"), '감정'] = 2
df4_copy.loc[(df4_copy['감정'] == "행복"), '감정'] = 3

df4.loc[:, '감정'] = df4_copy['감정']
df4.reset_index(drop=True, inplace=True)

df5_copy = df5.copy()

df5_copy.loc[(df5_copy['감정'] == "혐오"), '감정'] = 0
df5_copy.loc[(df5_copy['감정'] == "분노"), '감정'] = 0
df5_copy.loc[(df5_copy['감정'] == "슬픔"), '감정'] = 1
df5_copy.loc[(df5_copy['감정'] == "공포"), '감정'] = 2
df5_copy.loc[(df5_copy['감정'] == "놀람"), '감정'] = 2
df5_copy.loc[(df5_copy['감정'] == "행복"), '감정'] = 3

df5.loc[:, '감정'] = df5_copy['감정']
df5.reset_index(drop=True, inplace=True)

In [17]:
df4

                                                 문장 감정
0              아 진짜! 사무실에서 피지 말라니깐! 간접흡연이 얼마나 안좋은데!  0
1      그럼 직접흡연하는 난 얼마나 안좋겠니? 안그래? 보면 꼭... 지 생각만 하고.  0
2                                    그걸 내가 어떻게 알아요!  0
3                              동사무소에서 인구조사 나왔니? 지금.  0
4                                   나? ... 나보고 하라고?  2
...                                             ... ..
11809                                뭐? 다시 한 번 말해봐.  0
11810                                       어? 정말요?  2
11811                           혹시, 다들 은행 계좌없는 거예요?  2
11812    자네는 대체 뭘 하러 왔나! 젖은 생쥐 꼴이 된 나를 보면서 비웃으러 왔나?  0
11813                                           정말?  2

[11814 rows x 2 columns]

In [18]:
df5

                                                      문장 감정
0                               언니 동생으로 부르는게 맞는 일인가요..??  2
1                                           그냥 내 느낌일뿐겠지?  2
2                                         아직너무초기라서 그런거죠?  2
3                                          유치원버스 사고 낫다던데  2
4                                            근데 원래이런거맞나요  2
...                                                  ... ..
33759               솔직히 예보 제대로 못하는 데 세금이라도 아끼게 그냥 폐지해라..  0
33760                                        재미가 없으니 망하지  0
33761  공장 도시락 비우생적임 아르바이트했는데 화장실가성 손도 않씯고 재료 담고 바닥 떨어...  0
33762               코딱지 만한 나라에서 지들끼리 피터지게 싸우는 센징 클래스 ㅉㅉㅉ  0
33763               와이프도 그렇고 댓글 다 볼텐데 이휘재 좀 하차 하라고 전해주세요  0

[33764 rows x 2 columns]

In [22]:
df3 = pd.read_csv('데이터.csv', encoding='cp949')

In [23]:
df3

                                 문장  감정
0                    둘 다 하기 싫어서 화내.   0
1                       그럼 방세는 어떡해.   1
2         권태긴줄 알았는데 다른 사람이 생겼나보더라고.   1
3      어. 고등학교 동창인데 이렇게 더럽게 쓸줄 몰랐어.   0
4                          오늘 헤어졌어.   1
...                             ...  ..
32028   맞아. 나한테만 퉁명스럽고 일을 많이 시키더라고.   1
32029                 나 엘리베이터에 갇혔어.   3
32030             하지만 기분이 나쁜 걸 어떡해?   1
32031             자취방 엘리베이턴데 정전인가봐.   1
32032               나 드디어 프로젝트 끝났어!   3

[32033 rows x 2 columns]

In [43]:
dfdf1 = pd.read_csv('data/data-preprocess/data-6.csv', encoding='cp949')
dfdf2 = pd.read_csv('data/data-preprocess/data-7.csv', encoding='cp949')

In [44]:
dfdf1 = dfdf1[dfdf1['감정'] == '기쁨']
dfdf2 = dfdf2[dfdf2['감정'] == '기쁨']

In [45]:
dfdf = pd.concat([dfdf1, dfdf2])
dfdf1

                                        문장  감정
7            퇴사한 지 얼마 안 됐지만 천천히 직장을 구해보려고.  기쁨
9                 요즘 직장생활이 너무 편하고 좋은 것 같아!  기쁨
10                취업해야 할 나이인데 취업하고 싶지가 않아.  기쁨
22                   우리 회사는 정말 사내 분위기가 좋아.  기쁨
23       오늘 내가 다니는 회사가 참 좋은 직장이라는 생각이 들었어.  기쁨
...                                    ...  ..
37890  아니 심화반 개설이 왜 맘대로 취소된 거지? 어떻게 이런 일이.  기쁨
37905               오늘 오랜만에 가족 외식을 가기로 했어.  기쁨
37909           금번에 학교에 경찰 출동했거든? 아주 대박이야.  기쁨
37912                        다음날 나 가족여행 가.  기쁨
37914   선생님께서 내가 괴롭힘 당하는 것을 처리해 주시겠다고 하셨어.  기쁨

[6126 rows x 2 columns]

In [46]:
dfdf_copy = dfdf.copy()

dfdf_copy.loc[(dfdf_copy['감정'] == "기쁨"), '감정'] = 3

dfdf.loc[:, '감정'] = dfdf_copy['감정']
dfdf.reset_index(drop=True, inplace=True)

In [47]:
dfdf

                                       문장 감정
0           퇴사한 지 얼마 안 됐지만 천천히 직장을 구해보려고.  3
1                요즘 직장생활이 너무 편하고 좋은 것 같아!  3
2                취업해야 할 나이인데 취업하고 싶지가 않아.  3
3                   우리 회사는 정말 사내 분위기가 좋아.  3
4       오늘 내가 다니는 회사가 참 좋은 직장이라는 생각이 들었어.  3
...                                   ... ..
7334  입사 초반에는 인간관계가 힘들었는데 이제 좀 편안해진 것 같아.  3
7335                       빨리 결혼식을 하고 싶어.  3
7336               이번에 무사히 출산했어. 정말 다행이야.  3
7337              아이가 뛰어놀다가 넘어져서 깜짝 놀랐었어.  3
7338     남자친구랑 헤어질 뻔했는데 다시 화해했어. 정말 다행이야.  3

[7339 rows x 2 columns]

In [40]:
DDF = pd.concat([df3, df4, df5, dfdf])
DDF.to_csv('데이터모음.csv',index=False)